@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

$primary: #fe2c55;
$text-color: #161823;

:root {
  --primary: #{$primary};
  --text-color: #{$text-color};

  // Color opacity
  --text-color-opacity-6: #{rgba($text-color, 0.06)};
  --text-color-opacity-20: #{rgba($text-color, 0.8)};
  --text-color-opacity-34: #{rgba($text-color, 0.34)};
  --text-color-opacity-120: #{rgba($text-color, 0.12)};

  // Default layout
  --default-layout-horizontal-spacer: 16px;
  --default-layout-max-width: calc(var(--default-layout-horizontal-spacer) + 1900px);
  --default-layout-min-width: calc(var(--default-layout-horizontal-spacer) + 608px);
  // Header
  --header-height: 60px;
  // Sidebar
  --sidebar-max-width: 240px;
  --sidebar-min-width: 72px;
  --sidebar-horizontal-spacer: 8px;

  @media screen and (min-width: 768px) {
    --default-layout-horizontal-spacer: 24px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'IBM Plex Sans', Arial, Tahoma, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeSpeed;
  color: var(--text-color);
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a[href] {
  text-decoration: none;
}
