@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

$primary: #fe2c55;
$text-color: #161823;
$white: #ffffff;

$border-radius: 92px;

:root {
  --primary: #{$primary};
  --text-color: #{$text-color};
  --white: #{$white};

  // Color opacity
  --primary-opacity-6: #{rgba($primary, 0.06)};

  --text-color-opacity-2: #{rgba($text-color, 0.02)};
  --text-color-opacity-3: #{rgba($text-color, 0.03)};
  --text-color-opacity-6: #{rgba($text-color, 0.06)};
  --text-color-opacity-50: #{rgba($text-color, 0.5)};
  --text-color-opacity-120: #{rgba($text-color, 0.12)};
  --text-color-opacity-340: #{rgba($text-color, 0.34)};

  // Spacing
  --spacing-4: 4px;
  --spacing-6: 6px;
  --spacing-8: 8px;
  --spacing-10: 10px;
  --spacing-16: 16px;
  --spacing-24: 24px;

  // Default layout
  --default-layout-horizontal-spacer: var(--spacing-16);
  --default-layout-max-width: calc(var(--default-layout-horizontal-spacer) + 1900px);
  --default-layout-min-width: calc(var(--default-layout-horizontal-spacer) + 608px);
  // Header
  --header-height: 60px;
  // Sidebar
  --sidebar-max-width: 240px;
  --sidebar-min-width: 72px;

  --border-radius: #{$border-radius};

  @media screen and (min-width: 768px) {
    --default-layout-horizontal-spacer: var(--spacing-24);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'IBM Plex Sans', Arial, Tahoma, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeSpeed;
  color: var(--text-color);
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
  font-family: 'IBM Plex Sans', Arial, Tahoma, sans-serif;
}

a[href] {
  text-decoration: none;
  color: var(--text-color);
}
