.menu {
  display: inline-flex;
  vertical-align: middle;
  position: relative;

  // Hover vào thì hiển thị danh sách
  .dropdown-menu {
    cursor: pointer;
    padding-left: var(--spacing-4);
    padding-right: var(--spacing-4);
  }

  // Hiện thị menu popup
  .dropdown-menu:hover ~ .menu-popup,
  .menu-popup:hover {
    opacity: 1;
    visibility: visible;
    animation: fadeIn 0s forwards;
  }

  // Danh sách
  .menu-popup {
    position: absolute;

    width: 100%;
    min-width: 223px;
    opacity: 0;
    visibility: hidden;
    animation: fadeOut 0.7s forwards;

    // Cầu nối khi hover
    &::before {
      content: '';
      display: block;
      position: absolute;

      width: 15%;
      height: 10%;
      background-color: transparent;
    }

    // Tam giác ở đầu
    &::after {
      content: '';
      display: block;
      position: absolute;
    }

    // Menu item
    .menu-item {
      display: flex;
      justify-content: flex-start;
      height: 42px;
      width: 100%;
      margin-left: 0;
      padding: var(--spacing-8) var(--spacing-8) var(--spacing-8) var(--spacing-16);
      border-radius: 0px;

      font-weight: 600;

      &:hover {
        text-decoration: none;
        background-color: var(--text-color-opacity-3);
      }
    }
  }
}

// keyframes
@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
