// See more btn
.footer-see-more {
  font-size: 1.2rem;
  color: var(--text-color-opacity-340);
  display: flex;
  align-items: center;
  column-gap: var(--spacing-6);
  margin-top: var(--spacing-8);
}

// List
.list ~ .list {
  margin-top: 16px;
}

.list {
  user-select: none;
  margin-right: -8px; // Để chữ không xuống hàng

  .title {
    font-size: 1.5rem;
    font-family: var(--font-family-display);
    color: var(--text-color-opacity-50);
  }

  .link {
    font-size: 1.2rem;
    color: var(--text-color-opacity-50);
    font-weight: 600;
    margin-right: 6px;
    display: inline-block;

    &:hover {
      text-decoration: underline;
    }
  }
}
