// Wrapper
.wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  height: var(--header-height);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
  z-index: 1000;
}

// Inner
.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-8);

  max-width: var(--default-layout-max-width);
  min-width: var(--default-layout-min-width);
  width: 100%;
  height: 100%;

  margin-left: auto;
  margin-right: auto;
  padding-left: var(--default-layout-horizontal-spacer);
  padding-right: var(--default-layout-horizontal-spacer);
}

// Search
.search {
  flex: 1 1 auto;
  max-width: 500px;
  position: relative;

  // Search from
  .search-form {
    --btn-width: 52px;
    --search-status-horizontal-spacer: 12px;
    --svg-width: 16px;

    display: flex;
    justify-content: space-between;
    height: 46px;
    background-color: var(--text-color-opacity-6);
    border-radius: var(--border-radius);
    border: 1px solid transparent;
    padding-left: var(--spacing-16);
    overflow: hidden;

    &:has(.search-input:hover) {
      border-color: #c5c6c9;
    }

    &:has(.search-input:focus) ~ .search-result {
      display: block;
    }

    // Search input
    .search-input {
      flex-grow: 1;
      background-color: transparent;
      caret-color: var(--primary);
      font-weight: 400;

      &:hover ~ .search-btn {
        background-color: var(--text-color-opacity-6);
      }

      &:hover ~ .search-btn svg {
        fill: var(--text-color);
      }
    }

    .search-status {
      cursor: pointer;
      margin: auto var(--search-status-horizontal-spacer);
    }

    // Search btn
    .search-btn {
      position: relative;
      width: var(--btn-width);
      cursor: pointer;

      &::after {
        content: '';
        display: block;
        width: 1px;
        height: 28px;
        background-color: var(--text-color-opacity-120);

        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }

      svg {
        fill: var(--text-color-opacity-340);
      }
    }
  }

  // Search result
  .search-result {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: var(--spacing-8);
    display: none;
    width: 100%;
    min-width: 250px;

    .search-title {
      font-size: 1.4rem;
      font-weight: 600;
      height: 30px;
      color: var(--text-color-opacity-340);
      padding: 5px 12px;
    }

    .view-all-results {
      font-weight: 600;
      padding: var(--spacing-16);
      text-align: center;

      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      &:hover {
        background-color: var(--text-color-opacity-3);
        cursor: pointer;
      }
    }
  }
}

// Action
.action {
  & > :not([hidden]) ~ :not([hidden]) {
    margin-left: var(--spacing-16);
  }

  // Kebab menu
  .kebab-menu {
    // Menu icon
    .menu-icon {
      font-size: 2rem;
    }

    // Menu popup
    .menu-popup {
      top: 100%;
      margin-top: 19px;
      right: calc(var(--spacing-8) * -1);

      &::before {
        right: var(--spacing-8);
        top: -19px;
      }

      &::after {
        --width: 10px;

        top: calc((var(--width) - 1px) * -1);
        right: var(--spacing-12);

        border-bottom: var(--width) solid var(--white);
        border-left: var(--width) solid transparent;
        border-right: var(--width) solid transparent;
      }
    }
  }
}
